<%- include("./partials/header")  %> 


<div class="container mt-6">
    <div class="columns is-multiline ">
        <% if (games === undefined) { %>
            <h1 class="title is-2">Aradığınız Kategori Bulunamadı...</h1>
        <% }else{ %>
            <% games.forEach(game => { %>
                <div class="column is-4 mt-6">
                    <%- include("./partials/gameCard", {game})  %> 
                </div>
            <% }) %>
        <% }  %> 


    </div>
</div>


<% if (games !== undefined) { %>
    <%- include('./partials/pagination', {count, page})  %>  
<% } %>


<%- include('./partials/footer') %> 



