<!-- TODO navbar Transparent & Fixed-->
<nav class="navbar  is-fixed-top " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://github.com/baynarkozcu">
        <img src="/images/logo.svg" width="72" height="72">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href= "/">
          Games
        </a>
  
        <a class="navbar-item" href="#">
          Documentation
        </a>
      </div>


      <div class="navbar-end">
        <div class="navbar-item">
          <form action="/" method="post">
            <div class="field has-addons">
              <div class="control">
                <input type="text" name="searchKey" placeholder="Search Category" class="input" required/>
              </div>
              <div class="control">
                <button type="Submit" class="button is-primary">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  </nav>