<!-- TODO navbar Transparent & Fixed-->
<nav class="navbar  is-fixed-top pt-3 pl-5 " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://github.com/baynarkozcu">
        <img src="/images/logo.svg" width="72" height="72">
      </a>
      <a class="navbar-item" href="/">
        <h1 class="title is-5 "> GameArchive</h1>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu ml-6 pl-3">

      <div class="navbar-end">
        <div class="navbar-item">
          <form action="/" method="post">
            <div class="field has-addons">
              <div class="control">
                <input type="text" name="searchKey" placeholder="Search Category" class="input" required/>
              </div>
              <div class="control">
                <button type="Submit" class="button is-primary">
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  </nav>